<!DOCTYPE html>
{% extends "BasicApp/base.html" %}
    {% block body_block %}
        <div class="jumbotron">
            <h1>Please Login</h1>
            <br>
            <form action="{% url 'BasicApp:user_login' %}" method="POST">
                
                {% csrf_token %}
                
                <label for="username">Username: </label>
                <input type="text" name="username" placeholder="Enter Username">
                <br>

                <label for="password">Password: </label>
                <input type="password" name="password">
                <br>

                <input type="submit" class="btn btn-primary" value="Login">

            </form>
        </div>
    {% endblock %}